h1 { font-size:24pt; color:yellow; font-family:Garamond; }
h2 { font-size:16pt; color:yellow; font-family:Garamond; }
body,a:link,a:visited,a:active,table { font-size:7pt; color:yellow; font-family:Arial; }
